header {
    font-family: "Rock Salt", cursive;
    font-size: 250%;
    color: #f6c538;
    margin: 0;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    text-shadow: #b69314 0px 5px 5px;
}
